@import "tailwindcss";

@font-face {
  font-family: "Liberation Sans";
  src: url("/fonts/LiberationSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.host-eye-bg {
  --s: 120px;
  --_g: radial-gradient(#F4EAD5 31%,#0000 32%);
  --_l: radial-gradient(#594F4F 15%,#0000 16%);
  background: var(--_l),var(--_l),var(--_g),var(--_g),#45ADA8;
  background-position: 0 0,var(--s) var(--s);
  background-size: calc(2*var(--s)) calc(2*var(--s));
  animation:
    x 3s cubic-bezier(0.5,92,0.5,-92) infinite,
    y 3s cubic-bezier(0.5,92,0.5,-92) infinite -.5s;
}

@keyframes x {
  to {
    background-position-x: -.25px, calc(var(--s) - 1px),-.5px,calc(var(--s) - .5px);
  }
}
@keyframes y {
  to {
    background-position-y: -.25px, calc(var(--s) - 1px),.25px,calc(var(--s) - .5px);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}
