.ts-transition-zoom-out {
  animation: zoom-out var(--ts-transition-duration, 300ms);
  animation-direction: var(--ts-transition-direction, normal);
  animation-fill-mode: forwards;
  transform: scale(1);
  transform-origin: center;
  will-change: transform, opacity;
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}
