.ts-transition-skew {
  animation: skew-away var(--ts-transition-duration, 300ms);
  animation-direction: var(--ts-transition-direction, normal);
  animation-fill-mode: forwards;
  opacity: 1;
  transform: translateX(0) skewX(0deg);
  transform-origin: center;
  will-change: transform, opacity;
}

@keyframes skew-away {
  0% {
    transform: translateX(0) skewX(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-20%) skewX(12deg);
    opacity: 0;
  }
}
