.ts-transition-zigzag {
  animation: zigzag-wipe var(--ts-transition-duration, 300ms);
  animation-direction: var(--ts-transition-direction, normal);
  animation-fill-mode: forwards;
  clip-path: polygon(
    -40% -40%,
    140% -40%,
    140% -10%,
    140% 6%,
    102% 16%,
    140% 26%,
    102% 36%,
    140% 46%,
    102% 56%,
    140% 66%,
    102% 76%,
    140% 86%,
    102% 96%,
    140% 106%,
    140% 140%,
    -40% 140%
  );
  will-change: clip-path, opacity;
}

@keyframes zigzag-wipe {
  0% {
    clip-path: polygon(
      -40% -40%,
      140% -40%,
      140% -10%,
      140% 6%,
      102% 16%,
      140% 26%,
      102% 36%,
      140% 46%,
      102% 56%,
      140% 66%,
      102% 76%,
      140% 86%,
      102% 96%,
      140% 106%,
      140% 140%,
      -40% 140%
    );
  }
  100% {
    clip-path: polygon(
      0 0,
      0 6%,
      0 16%,
      0 26%,
      0 36%,
      0 46%,
      0 56%,
      0 66%,
      0 76%,
      0 86%,
      0 96%,
      0 106%,
      0 120%,
      0 140%,
      0 160%,
      0 100%
    );
  }
}
