.ts-transition-corner {
  animation: corner-swipe var(--ts-transition-duration, 300ms);
  animation-direction: var(--ts-transition-direction, normal);
  animation-fill-mode: forwards;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  will-change: clip-path, opacity;
}

@keyframes corner-swipe {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  70% {
    clip-path: polygon(0 0, 80% 0, 0 80%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}
