.ts-transition-triad {
  animation: triad-close var(--ts-transition-duration, 300ms);
  animation-direction: var(--ts-transition-direction, normal);
  animation-fill-mode: forwards;
  clip-path: polygon(-40% -40%, 140% -40%, 170% 50%, 140% 140%, -40% 140%, -70% 50%);
  will-change: clip-path, opacity;
}

@keyframes triad-close {
  0% {
    clip-path: polygon(-40% -40%, 140% -40%, 170% 50%, 140% 140%, -40% 140%, -70% 50%);
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%
    );
  }
}
