.ts-transition-tunnel {
  animation: tunnel-close var(--ts-transition-duration, 300ms);
  animation-direction: var(--ts-transition-direction, normal);
  animation-fill-mode: forwards;
  clip-path: ellipse(200% 140% at 50% 50%);
  will-change: clip-path, opacity;
}

@keyframes tunnel-close {
  0% {
    clip-path: ellipse(200% 140% at 50% 50%);
  }
  100% {
    clip-path: ellipse(0% 0% at 50% 50%);
  }
}
