.ts-transition-eyelid {
  animation: eyelid-close var(--ts-transition-duration, 300ms);
  animation-direction: var(--ts-transition-direction, normal);
  animation-fill-mode: forwards;
  clip-path: ellipse(120% 60% at 50% 50%);
  will-change: clip-path, opacity;
}

@keyframes eyelid-close {
  0% {
    clip-path: ellipse(120% 60% at 50% 50%);
  }
  70% {
    clip-path: ellipse(120% 12% at 50% 50%);
  }
  100% {
    clip-path: ellipse(120% 0% at 50% 50%);
  }
}
