.ts-transition-zoom-in {
  animation: zoom-in var(--ts-transition-duration, 300ms);
  animation-direction: var(--ts-transition-direction, normal);
  animation-fill-mode: forwards;
  opacity: 1;
  transform: scale(1);
  transform-origin: center;
  will-change: transform, opacity;
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.15);
    opacity: 0;
  }
}
