.ts-transition-iris {
  animation: iris var(--ts-transition-duration, 300ms);
  animation-direction: var(--ts-transition-direction, normal);
  animation-fill-mode: forwards;
  clip-path: circle(150% at 50% 50%);
  opacity: 1;
  will-change: clip-path, opacity;
}

@keyframes iris {
  0% {
    clip-path: circle(150% at 50% 50%);
    opacity: 1;
  }
  100% {
    clip-path: circle(0% at 50% 50%);
    opacity: 0;
  }
}
