.ts-transition-slit {
  animation: slit-close var(--ts-transition-duration, 300ms);
  animation-direction: var(--ts-transition-direction, normal);
  animation-fill-mode: forwards;
  clip-path: inset(0 0 0 0);
  will-change: clip-path, opacity;
}

@keyframes slit-close {
  0% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 50% 0 50%);
  }
}
